<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "Noto Sans CJK JP", sans-serif;
        }
    </style>
</head>
<body>
<h1>出演契約書兼說明書</h1>
<pre>
本書面末尾に署名捺印した出演者(以下「甲」といいます。)と本書面末尾に署名捺印した
制作公表者(以下「乙」といいます。)とは、以下のとおり、乙が甲に対し性行為映像制作物
(以下、「アダルトビデオ」という。)出演に関し説明し、出演契約(以下「本契約」といい
ます。)を締結する。
</pre>

<h3>第1条(目的)</h3>
<pre>
性をめぐる個人の尊厳が重んぜられる社会の形成に資するために性行為映像制作物への出
演に係る被害の防止を図り及び甲の救済に資するための出演契約等に関する特則等に関す
る法律(以下、「AV出演被害防止・救済法」という。)により、乙が甲に対し出演契約書ま
たは説明書面等を交付しなかった場合や、虚偽の内容を含む書面を交付した場合、乙は処罰
される。そのため本契約書及び説明書を交付し、甲に対して説明を行う。
</pre>

<h3>第2条(契約日時及び契約場所)</h3>
<pre>
本契約は、本書面末尾記載の契約日時及び契約場所において契約を締結したものである。
</pre>

<h3>第3条(アダルトビデオに出演すること)</h3>
<pre>
本契約はアダルトビデオ制作のためのモデル出演のためのものであり、乙が甲に対してアダ
ルトビデオへの出演を委託し、甲が受託するものである。作品名は
Γ{{ 作品名 | default('') }} (仮)」
である。
</pre>

<h3>第4条(撮影日時及び撮影場所)</h3>
<pre>
1. 撮影予定日、撮影予定時間及び撮影場所は以下のとおりである。
(1) 撮影予定日及び撮影予定時間
 {{ 撮影年 | default('____') }} 年 {{ 撮影月 | default('__') }} 月 {{ 撮影日 | default('__') }} 日 {{ 撮影開始時 | default('__') }} 時~{{ 撮影終了時 | default('__') }} 時
(2) 撮影場所
{{ 撮影場所 | default('________________') }}

2. 予定日時や予定場所が変更になる場合は、乙が甲に対し撮影前に連絡し、甲の許諾を得
ることとする。
</pre>

<h3>第5条(撮影内容及び共演者)</h3>
<pre>
1. 予定されている撮影内容は、別表記載のプロット、脚本のとおりである。
2. 甲とアダルトビデオに出演し、甲と撮影される者(以下、「共演者」という。)は別紙1
のとおりである。
</pre>

<h3>第6条(公表)</h3>
<pre>
1. 甲が出演したアダルトビデオは以下の方法で公表することとする。以下の媒体とは異な
る媒体で宣伝、販売を行う場合は甲に連絡し、許諾を得ることとする。
販売媒体:myfans
2. 乙だけでなく、以下の人物 (法人) が宣伝や販売を行う場合、甲に連絡し、許諾を得る
こととする。
名前(法人名): {{ 宣伝販売者名 | default('________________') }}
住所: {{ 宣伝販売者住所 | default('________________') }}
連絡先: {{ 宣伝販売者連絡先 | default('________________') }}
3. 公表期間は {{ 公表開始年 | default('____') }} 年 {{ 公表開始月 | default('__') }} 月 {{ 公表開始日 | default('__') }} 日から {{ 公表年数 | default('__') }} 年とする。
なお、甲が公表の停止を求めない場合は、公表の継続を希望しているとみなし、公表期間を
延長することができ、延長期間中に 甲から公表の停止を求められた場合は、その期間まで
公表することとする。
</pre>

<h3>第7条(報酬)</h3>
<pre>
1. 今回の撮影における甲の報酬は以下のとおりである。
金 {{ 報酬額 | default('________') }} 円
2. 報酬は以下の期日までに支払うこととする。振込の場合は振込手数料を乙が
   負担することとする
{{ 支払年 | default('____') }} 年 {{ 支払月 | default('__') }} 月 {{ 支払日 | default('__') }} 日
</pre>

<h3>第8条(販売国及びサーバ)</h3>
<pre>
1. 撮影・制作したアダルトビデオはインターネット上の以下のサイトで配信予定である。

また、甲は以下のサイトが宣伝や販売を行うことを許諾する。
サイト名: myfans
サイト運営者の氏名・名称: トクネコ株式会社
所属地の国名:日本
サイト運営者の住所: 東京都渋谷区広尾1-6-10 Giraffa11階
サイト運営者の連絡先: support@myfans.jp
2. 頒布予定地域及び配信予定サイトが変更、拡大する場合は乙が甲に連絡し、許諾を
  得ることとする
</pre>

<h3>第9条(年齢)</h3>
<pre>
1. 甲は、自らが18歳以上であることかつ高校生以下ではないことを誓約するものとする。
2. 乙は、撮影当日、甲の年齢確認を行い、甲は年齢確認に協力しなければならない。
</pre>

<h3>第10条(権利義務の譲渡禁止)</h3>
<pre>
甲及び乙は、相手方の事前の書面による同意なく、本契約及び個別契約により生じた契約上
の地位を移転し、又は本契約及び個別契約により生じた自己の権利義務の全部若しくは
一部を、第三者に譲渡し、若しくは第三者の担保に供することはできない。
</pre>

<h3>第11条(知的財産権の帰属)</h3>
<pre>
1. 成果物及び本契約の遂行過程において生じた成果物に関する著作権(著作権法第27条
及び第28条に定める権利を含むがこれらに限られない。以下同じ。)、特許権、意匠権
又は商標権等の知的財産権 (これらの知的財産権を受ける権利を含む。以下「知的財産
権」という。)は、撮影終了と同時に乙に帰属する。
2. 第1項に基づく知的財産権の帰属に係る対価は第7条の報酬に含まれるものとする。
3. 乙は、第1項に基づき甲に帰属する著作権にかかる著作者人格権を甲に対して行使しな
いものとする。
</pre>

<h3>第12条(守秘義務)</h3>
<pre>
甲及び乙は、商品の価格、及び取引を通じて知り得た相手方の機密情報を秘密として保
持し、相手方の事前の書面による同意なく、第三者に開示又は漏洩してはならない。
</pre>

<h3>第13条(契約の解除)</h3>
<pre>
1. 甲及び乙は、相手方が次の各号のいずれか一つに該当したときは、何らの通知、催告を
要せず、直ちに本契約を解除することができる。
(1) 本契約に定める条項に違反し、相手方に対し催告したにもかかわらず14日以内に
当該違反が是正されないとき
(2) 監督官庁より営業の許可取消し、停止等の処分を受けたとき
(3) 支払停止若しくは支払不能の状態に陥ったとき、又は手形若しくは小切手が不渡り
となったとき
(4) 第三者より差押え、仮差押え、仮処分若しくは競売の申立て、又は公租公課の滞納
処分を受けたとき
(5) 破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始の申立てを受
け、又は自ら申立てを行ったとき
(6)解散、会社分割、事業譲渡又は合併の決議をしたとき
(7) 資産又は信用状態に重大な変化が生じ、本契約に基づく債務の履行が困難になるおそれが
  あると認められるとき
(8) その他、前各号に準じる事由が生じたとき

2. 前項の場合、本契約を解除された当事者は、解除によって解除をした当事者が被った損
害の一切を賠償するものとする。
</pre>

<h3>第14条(損害賠償の範囲)</h3>
<pre>
甲及び乙が、故意又は過失により本契約の条項に違反し、相手方に損害を与えたとき
は、その法定の免除される範囲を除き一切の損害を賠償するものとする。
</pre>

<h3>第15条(反社会的勢力の排除)</h3>
<pre>
1. 乙及び甲は、それぞれ相手方に対し、次の各号の事項を確約する。
(1) 自らが、暴力団、暴力団関係企業、総会屋若しくはこれらに準ずる者又はその構成
員(以下総称して「反社会的勢力」という)ではないこと
(2) 自らの役員(取締役、執行役、執行役員、監査役又はこれらに準ずる者をいう)が
反社会的勢力ではないこと
(3) 反社会的勢力に自己の名義を利用させ、この契約を締結するものでないこと
(4) 自ら又は第三者を利用して、この契約に関して次の行為をしないこと
① 相手方に対する脅迫的な言動又は暴力を用いる行為
② 偽計又は威力を用いて相手方の業務を妨害し、又は信用を毀損する行為
2. 乙又は甲の一方について、次のいずれかに該当した場合には、その相手方は、何らの催
告を要せずして、この契約を解除することができる。
(1) 前項(1)又は(2)の確約に反する表明をしたことが判明した場合
(2) 前項(3)の確約に反し契約をしたことが判明した場合
(3) 前項(4)の確約に反した行為をした場合
3. 前項の規定によりこの契約が解除された場合には、解除された者は、その相手方に対
し、相手方の被った損害を賠償するものとする。
4. 第2項の規定によりこの契約が解除された場合には、解除された者は、解除により生じ
る損害について、その相手方に対し一切の請求を行わない。
</pre>

<h3>第16条(説明義務)</h3>
<pre>
乙は、甲に対し、法定の説明事項につき、別紙2を交付し、説明したことを確認する。
</pre>

<h3>第17条(合意管轄)</h3>
<pre>
本契約に関連する訴訟については、東京地方裁判所を第一審の専属的合意管轄裁判所と
する。
</pre>

<h3>第18条(協議)</h3>
<pre>
本契約に定めのない事項及び本契約の内容の解釈につき相違のある事項については、本
契約の趣旨に従い、両当事者間で誠実に協議の上、これを解決する。
</pre>

<h4>以上</h4>

<pre>
令和 {{ 契約締結年 | default('____') }} 年 {{ 契約締結月 | default('__') }} 月 {{ 契約締結日 | default('__') }} 日

甲
住所: {{ 甲住所 | default('________________') }}
氏名: {{ 甲氏名 | default('________________') }}
<img src="{{ 甲印影 }}" alt="icon_1" width="20px" height="20px" />

乙
住所: {{ 乙住所 | default('________________') }}
氏名: {{ 乙氏名 | default('________________') }}
<img src="{{ 乙印影 }}" alt="icon_2" width="20px" height="20px" />

契約締結場所: {{ 契約締結場所 | default('________________') }}
</pre>


<h3>(別紙1)共演者情報 (複数名の場合は全員分記載すること)</h3>
<pre>
氏名: {{ 共演者氏名 | default('________________') }}
住所: {{ 共演者住所 | default('________________') }}
連絡先: {{ 共演者連絡先 | default('________________') }}
</pre>


<h3>(別紙2)</h3>
<pre>
【契約に関する説明事項】
・撮影するプレイ内容は別表のプロット、脚本に記載しています。
・本契約書及び説明書の説明を受けてから一ヶ月経たないと撮影はできません。
・契約書に記載されているプレイ内容であっても、実際の撮影の段階で撮影を行いたくない
場合、拒否することができます。それにより乙は甲に対して賠償請求などを行いません。
・乙は甲の健康、安全、衛生に配慮し、また甲が、撮影を行いたくない場合、遠慮なくプレ
イを拒否できるよう配慮します。なお、撮影中のインタビューにおいてプライバシーにふれ
る質問などには回答を拒否しても構いません。
・作品の撮影・編集後、公表(宣伝・販売)する前に、甲が出演している箇所に関しては、
予め確認してもらうこととします。設定されたパブリシティを超える表現に関しては、モザ
イクや音声加工などで対応します。それ以上の内容面に関する指摘に関しては、協議の上、
決定するものとします。
・すべての撮影が終了してから四ヶ月経つまでは、乙は宣伝・販売しません。
・この契約は今回の作品の撮影のためにだけ結ばれるもので、他の作品の出演などを義務化
するものではありません。
・甲の契約解除や、撮影現場でのプレイ拒否などに対して違約金を求めることはありませ
ん。
・乙は本契約書にある内容を真摯に遵守します。本契約書を遵守しない場合、本契約書を履
行する過程で不法行為があり、甲に損害が生じた場合、乙側の賠償の免除などは契約書に記
載しません。
・甲との契約は誠実に行い、甲の利益を一方的に害したりしません。
・乙が契約について十分に説明していない場合、誤認させる説明であった場合、又は契約書
及び説明書を交付しなかった場合は、甲は出演の意思表示を取り消すことができます。
・これまで説明してきた規定を乙が守らなかった場合は、甲は契約を解除できます。また、
その場合、乙は甲に対して違約金や損害賠償などを請求できません。



・甲は作品公表後、2年が経過するまでは自由に本契約を解除できます。甲は解除の希望を
書面かメールで伝えてください。甲が通知を発した時に解除となります。乙は作品販売を中
止し(サイトなどから取り下げ)、宣伝も消します。甲に損害賠償は発生しませんが、出演の
返還義務は発生します。
・撮影後に甲が契約解除した場合、出演料を制作者に返還し、また、乙は甲の役務を金銭評
価し支払います。・甲に対し任意解除に関する事柄を乙は包み隠さずお伝えし、虚偽の事実を
伝えたり威迫したりし、任意解除を妨げることはしません。
・甲は本契約を解除した後、乙に対して、作品の取り下げや、違法アップロードの予防を請
求できます。甲が具体的な措置を請求することもできます。乙は必要に応じて情報提供など
で協力も行います。
・甲が、自分の出演する作品の違法アップロードを発見し、それを取り下げたいと考えた場
合、プロバイダに以下のような情報を伝える必要があります。
「甲の当該権利を侵害したとする情報」
「甲の当該権利が侵害されたとする旨」
「甲の当該権利が侵害されたとする理由」
「今回申告した侵害情報が性行為映像制作物に係るものである旨」
プロバイダは違法アップロードを行ったものに対し、2日間の反論機会を与えるなど、適切
な手続きを踏んだ場合、違法アップロード動画を削除しても、違法アップロードを行った者
から賠償責任請求などを受けません。
・契約解除等甲の権利について乙が正確に説明していなかった場合、甲が契約解除可能なこ
とを知った時から5年間、任意で契約解除が可能です。法定義務違反があった場合も5年
間、解除権を行使できます。
・本作に出演することで、甲が特定される可能性があります。パブリシティの設定により特
定のリスクは軽減できますが、可能性は残ります。
・プレイに性行為が含まれる場合、甲や共演者の性病検査の実施状況を撮影日に互いに確認
します。
・本契約書及び説明書面の言語が理解できなかった場合、甲の理解できる言語に翻訳しま
す。



・AV撮影において被害を受けた、契約と異なる状況があった、などの相談は以下までご連絡
ください。
ワンストップ支援センター
(電話番号:#8891)
■パブリシティ設定
・宣伝での顔出し・声出しの可否
{% if 宣伝顔出し可 %}☑{% else %}□{% endif %} 顔出し可
{% if not 宣伝顔出し可 %}☑{% else %}□{% endif %} 顔出し不可
{% if 宣伝声出し可 %}☑{% else %}□{% endif %} 声出し可
{% if not 宣伝声出し可 %}☑{% else %}□{% endif %} 声出し不可
・作品内での顔出し・声出しの可否
{% if 作品顔出し可 %}☑{% else %}□{% endif %} 顔出し可
{% if not 作品顔出し可 %}☑{% else %}□{% endif %} 顔出し不可
{% if 作品声出し可 %}☑{% else %}□{% endif %} 声出し可
{% if not 作品声出し可 %}☑{% else %}□{% endif %} 声出し不可
</pre>
</body>
</html>