<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "Noto Sans CJK JP", sans-serif;
        }
        .handle-name-table th,
        .handle-name-table td {
            border: 1px solid #999;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>18 U.S.C. 2257条の出演者に関する記録保管について</h1>

<h3>モデルの宣誓陳述</h3>
<pre>
28U.S.C.1746条、米国法による偽証罪により、下記の内容は真実かつ正確であり、
私が提出した身分証明書については、その写しを添付したものであり、かつ、私が
署名したものであり、私が合法的に取得したものであり、偽造や修正をしたものでは
ないことをここに宣誓いたします。

今日の日付:{{ 宣誓日 }}

署名:{{ 出演者本名 }}
(モデルの正式な名前を使ってください)

生年月日:{{ 出演者生年月日 }}

年齡:{{ 出演者年齢 }}
</pre>

<pre>
A. 私(以下、出演者を「モデル」といいます)は、この書類で要求されるすべての
情報が米国連邦法を遵守するために要求されるものであり、米国法において嘘の
供述又は虚偽表示は犯罪であるということを理解しています。

B. 私は、モデルには運転免許証やパスポートなど公的機関が発行した写真付き
身分証明書の提出が要求されていることを理解しています。モデルが提出する
身分証明書には鮮明な写真が添付されていなければならず、その身分証明書の写しに、
モデルは署名をしなければなりません。

身分証明書の種別 {{ 身分証種別 }}

C. 私は芸名、通称、あだ名や婚姻による名前や婚姻前の名前などの以下の名前を
使用していた場合、以下に、過去全部使用していた名前および当該名前を使用して
出演した作品(ライブ配信を含む)を申告します。
</pre>
<table class="handle-name-table">
  <tr>
    <th>使用した名前</th>
    <th>関連する作品またはライブ配信の識別情報(作品名・識別番号、配信URL、配信日時など)</th>
  </tr>
  <tr>
    <td>1 {{ ハンドルネーム1 }}</td>
    <td>{{ 配信先情報1 }}</td>
  </tr>
  <tr>
    <td>2 {{ ハンドルネーム2 }}</td>
    <td>{{ 配信先情報2 }}</td>
  </tr>
  <tr>
    <td>3 {{ ハンドルネーム3 }}</td>
    <td>{{ 配信先情報3 }}</td>
  </tr>
  <tr>
    <td>4 {{ ハンドルネーム4 }}</td>
    <td>{{ 配信先情報4 }}</td>
  </tr>
</table>

<pre>
4つ以上の名前の使用がある場合、追加の名前を含めた別の用紙に記入して、モデルは
署名をしなければなりません。

上記情報は、作品名・識別番号と照合できるようインデックス化され、法令に基づく
記録として保管されます。
</pre>

<h3>製作者の宣誓陳述</h3>

<pre>
28U.S.C.1746条、米国法による偽証罪により、上記の生年月日を含むモデルの身分証明書を
確認し、この書類に記載された回答に関してモデルからの回答を確認し、モデルがこの書面に
署名をし、その身分証明書の添付の写しに署名をした行為について確認したことを宣誓します。

製作日: {{ 宣誓日 }}  製作場所: {{ 書類作成住所 }}

製作者の名前 {{ 責任者本名 }}  製作者の署名 {{ 責任者本名 }}

注:この書類は他のすべての記録とは別に保管されなければなりません。
</pre>
</body>